.font-latef {
  font-family: var(--font-lexend);
}

.home {
  position: relative;
  height: 900px;
  overflow: visible;
}

.div-top-h {
  display: flex;
  justify-content: center;
  gap: 2%;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/images/new-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  mix-blend-mode: multiply;
}

.background-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(109, 109, 109, 0.1);
  z-index: 0;
}

.div-1 {
  width: 100%;
  max-width: 917px;
  margin: 0 auto;
  padding-top: 8rem;
  text-align: center;
  position: relative;
  z-index: 2;
}

.ship-container {
  position: absolute;
  bottom: -19.3%;
  left: 52.4%;
  transform: translateX(-50%);
  width: 30%;
  height: 36%;
  z-index: 1;
  filter: drop-shadow(-15px 30px 50px rgba(0, 0, 0, 1));
}

.ship-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  mix-blend-mode: overlay;
  filter: brightness(0.8);
}

marquee {
  font-size: 200px;
  font-weight: bold;
  font-family: var(--font-lexend);
  position: absolute;
  bottom: -5%;
  width: 100%;
  overflow: hidden;
  color: rgba(221, 221, 221, 0.39);
  opacity: 2;
  text-transform: uppercase;
  letter-spacing: 10px;
  pointer-events: none;
}

.div-top-h-1 {
  font-size: 70px;
  font-weight: 600;
  font-family: var(--font-lexend);
  color: black;
  line-height: 90px;
  margin: 6% 0% 0% 0%;
}
.div-top-h-2 {
  font-size: 70px;
  font-weight: 600;
  font-family: var(--font-lexend);
  line-height: 90px;
  margin: 6% 0% 0% 0%;
  color: #498611 !important;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #498611;
  text-underline-position: under;
}

.div-top-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin-top: 2%;
}

.div-top-h2 .div-top-h2-1 {
  font-size: 30px;
  font-weight: 600;
  font-family: var(--font-lexend);
  color: black;
  margin: 15px 0;
}
.div-top-h2 .div-top-h2-2 {
  color: #fe6700;
  font-size: 30px;
  font-weight: 600;
  font-family: var(--font-lexend);
  margin: 15px 0;
}

.home-2 {
  height: 275.12px;
  display: flex;
  justify-content: center;
}


/* page-3 */

.section-3 {
  background-color: #fff;
  padding: 5% 0;
}

.container-3 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container-3-flex {
  display: flex;
  justify-content: right;
  gap: 9%;
  align-items: center;
}

.animated-image {
  width: 50%;
  min-width: 450px;
  height: 500px;
  position: relative;
  overflow: visible;
}

.image-container-1,
.image-container-2,
.image-container-3 {
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
  border: 8px solid white;
  width: 60%;
  height: 55%;
}

.image-container-1 {
  left: -40%;
  top: 15%;
  z-index: 1;
}

.image-container-2 {
  left: 5%;
  top: 45%;
  z-index: 2;
}

.image-container-3 {
  right: 0;
  top: 0;
  z-index: 3;
}

.animated-img-1,
.animated-img-2,
.animated-img-3 {
  width: 100%;
  height: 274px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.animated-img-1:hover,
.animated-img-2:hover,
.animated-img-3:hover {
  transform: scale(1.05);
}

.Experience-div {
  width: 50%;
}

.Experience-div h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
  font-family: var(--font-lexend);
}

.Experience-div-p1,
.Experience-div-p2 {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
  font-family: var(--font-lexend);
}

.Experience-div a {
  display: inline-block;
  padding: 12px 30px;
  background-color: #fe6700;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  font-family: var(--font-lexend);
}

.Experience-div a:hover {
  background-color: black;
}


/* page-4 */


.section-4 {
  margin: 0;
  padding: 0;
  height: 920px;
  position: relative;
  overflow: hidden;
}

.container-4 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  height: 100%;
}

.section-4 .swiper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.section-4 .swiper-pagination {
  position: absolute;
  bottom: 5% !important;
  right:18.5% !important;
  left: auto !important;
  width: auto !important;
  font-family: monospace;
  color: white;
  display: flex;
  align-items: center;
  gap: 4px;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 40%,
    rgba(0, 0, 0, 1) 100%
  );
  z-index: 1;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  position: relative;
}

.content-wrapper {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  text-align: center;
  width: 100%;
}

.content-wrapper h1 {
  font-size: 55px;
  margin-bottom: 1rem;
  font-weight: 400;
  font-family: var(--font-lexend);
}

.content-wrapper p {
  font-size: 16px;
  font-weight: 400;
  max-width: 500px;
  margin: 0 auto;
  font-family: var(--font-lexend);
}

.header-content {
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 3;
  width: 50%;
}

.header-content h1 {
  font-size: 40px;
  color: white;
  margin-bottom: 16px;
  font-weight: 600;
  font-family: var(--font-lexend);
}

.header-content p {
  color: white;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 32px;
  font-family: var(--font-lexend);
  /* width: 70%; */
}


.view-all-btn {
  position: absolute;
  top: 12%;
  right: 0;
  z-index: 3;
  padding: 12px 24px;
  background-color: #ff6b00;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.view-all-btn:hover {
  background-color: white;
  color: #000;
}

.scroll-indicator {
  position: absolute;
  bottom: 10%;
  left: 0;
  z-index: 3;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-lexend);
}

.scroll-indicator svg {
  width: 20px;
  height: 20px;
}

.section-4 .swiper-pagination-fraction {
  font-weight: bold;
  color: white;
  background: transparent;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  top: 84%;
}

.section-4 .swiper-pagination-current {
  color: white;
  font-size: 55px !important;
  
}

.section-4 .swiper-pagination-total {
  color: white;
  font-size: 25px !important;
  
}

.africa-map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  z-index: 2;
  opacity: 0.8;
}

.map-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 1200px;
  width: 100%;
  height: 400px;
  background-image: url("/images/african-curve.png");
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: center;
}

/* Additional Utility Classes */


/* .section-4-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  position: relative;
  height: 100%;
} */

.test {
  position: absolute;
  max-width: 1200px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}




.slider-container {
  width: 100%;
  height: 100vh;
  position: relative;
  transition: transform 0.3s ease-out;
}

.slider-container.fixed-position {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


/* page-5 */

.container-5 {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0;
}

.section-5 {
  background-image: url("/images/Map.png");
  background-position: left;
  background-size: 76% 117%;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.container-flex-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dec-div {
  width: calc(100%-473px);
}
.compass {
  width: 320.61px;
  height: 312.17px;
}
.dec-div h1 {
  font-size: 40px;
  font-family: var(--font-lexend);
  font-weight: 600;
  line-height: 45px;
  width: 410px;
  margin-bottom: 20px;
}

.dec-div p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-lexend);
  line-height: 26px;
  width: 534px;
  margin-bottom: 55%;
  position: relative;
}






.input-wrapper {
  /* margin-bottom: 20px; */
}


.label-date {
  display: block;
}

.date-input-container {
  position: relative;
  width: 100%;
}

/* Input styles */
.date-input-container input[type="date"] {
  width: 100%;
  padding: 10px 35px 10px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

/* Hide default date picker icon */
.date-input-container input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}


.date-input-container span {
  position: absolute;
  left: 12px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-lexend);
  top: 35%;
  transform: translateY(-50%);
  color: #000000;
  pointer-events: none;
  transition: opacity 0.2s;
  border-right: 1px solid rgb(161, 161, 161) !important;
  box-sizing: border-box;
  padding-right: 70%;
}



.date-input-container span.hidden {
  opacity: 0;
}

.date-input-containerX {
  position: relative;
  width: 100%;
}


.date-input-containerX input[type="date"] {
  width: 100%;
  padding: 10px 35px 10px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}


.date-input-containerX input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}


.date-input-containerX span {
  position: absolute;
  left: 12px;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-lexend);
  top: 35%;
  transform: translateY(-50%);
  color: #000000;
  pointer-events: none;
  transition: opacity 0.2s;
  border-right: 1px solid  rgb(161, 161, 161) !important;
  box-sizing: border-box;
  padding-right: 75%;
}



.date-input-containerX span.hidden {
  opacity: 0;
}



















.input-wrapper {
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
  opacity: 0;
}

input[type="date"]:valid::-webkit-datetime-edit-fields-wrapper {
  opacity: 1;
}

.input-wrapper input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
}

.calendar-icon {
  position: absolute;
  right: 19px;
  top: 35%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #666;
  font-size: 20px;
}


input[type="date"]::placeholder {
  color: #999;
}








.input-date {
  width: 453px;
  height: 313px;
  padding: 4%;
  box-sizing: border-box;
  background-color: transparent;
  backdrop-filter: blur(20px);
  position: absolute;
  top: 2%;
  margin-left: 10px;
  border-radius: 10px;
  border: 0.5px solid rgb(119, 119, 119);
}

.label-date {
  display: block;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--font-lexend);
  color: #ffffff;
  margin-bottom: 10px;
}

.input-date input {
  width: 413px;
  height: 55px;
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
}

.input-date-btn {
  width: 145px;
  height: 47px;
  background-color: #fe6700;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-lexend);
  border: none;
  border-radius: 4px;
}
.input-date-btn:hover {
  background-color: white;
  color: #000;
}

.key-div {
  position: relative;
  width: 473px;
  height: 631px;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 15px;
  overflow: hidden;
}

.key-shipe {
  animation: float 20s ease-in-out infinite;
  height: 100vh;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-250px);
  }

  100% {
    transform: translateY(0px);
  }
}




/* page-6 */





.section-6 {
  background-color: #f6f6f6;
  overflow: hidden;
}

.container-6 {
  max-width: 1200px;
  width: 100%;
  padding: 0;
  margin: auto;
}

.container-6-h {
  color: #000000;
  font-size: 40px;
  font-weight: 600;
  font-family: var(--font-lexend);
  text-align: center;
  margin-bottom: 10px;
  padding-top: 8%;
}

.container-6-p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-lexend);
  text-align: center;
  line-height: 26px;
  width: 45%;
  margin: auto;
  padding-bottom: 50px;
}

.slider-container-dec {
  width: 452px;
  height: 560px;
  border-radius: 15px;
  background-color: #ffffff;
  padding: 6%;
  box-sizing: border-box;
  position: relative;
}
.slider-logo-div {
  margin-bottom: 5%;
  z-index: 3;
  position: relative;
}

.video_slider {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: 2; 
  border-radius: 15px; 
  background: rgba(0, 0, 0, 0.1);
}


.slider-content-wrapper {
  position: relative;
  z-index: 3;
}


.slider-container-dec:hover .video_slider {
  visibility: visible;
}


.slider-container-dec:hover .slider-logo-div,
.slider-container-dec:hover .slider-per-name {
  position: relative;
  z-index: 4; 
}

.slider-container-dec:hover .slider-per-name h3 {
  color: white; 
}

.slider-container-dec:hover .slider-per-name p {
  color: white;
}

.slider-container-dec:hover .video_slider {
  visibility: visible;
}

.slider-container-dec:hover .slider-container-dec-inner-p{
  visibility: hidden;
}

.slider-logo {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  object-fit: cover;
}

.slider-container-dec-inner-p {
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  width: 85%;
  margin-bottom: 15%;
  font-weight: 500;
  font-family: var(--font-lexend);
  visibility: visible;
}

.slider-per-name h3 {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  font-family: var(--font-lexend);
  z-index: 3;
}

.slider-per-name p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-lexend);
  text-align: left;
  margin: 0;
  padding-bottom: 25%;
  z-index: 3;
}

.slider {
  padding-bottom: 10%;
  overflow: visible;
}

.swiper-horizontal > .swiper-scrollbar {
  display: none;
}

.container-6
  .swiper-horizontal
  > .swiper-pagination-progressbar.swiper-pagination-progressbar.swiper-pagination-horizontal {
  top: 90% !important;
  height: var(--swiper-pagination-progressbar-size, 8px);
  width: 85% !important;
  background: #dadada;
  border-radius: 10px;
  margin-right: 8%;
}
.container-6
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill {
  background: #fe6700 !important;
  border-radius: 30px;
}

.container-6 .swiper-button-prev {
  position: absolute !;
  left: 92%;
  top: 91%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.container-6 .swiper-button-prev:hover,
.container-6 .swiper-button-next:hover {
  background-color: #498611;
}
.container-6 .swiper-button-prev::after {
  font-size: 15px;
  color: black;
  padding: 20px;
  border-radius: 50%;
}

.container-6 .swiper-button-next:after {
  content: "next";
  font-size: 15px;
  color: black;
  padding: 20px;
  border-radius: 50%;
}

.container-6 .swiper-button-prev:hover::after,
.container-6 .swiper-button-next:hover::after {
  color: white;
}
.container-6 .swiper-button-next {
  position: absolute;
  right: 0%;
  top: 91%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.container-6 .swiper {
  overflow: visible !important;
}

.container-6 .swiper-slide.slider {
  width: 452px !important;
}







/* .Our-Services */

.Our-Services {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.card-our-section {
  display: flex;
  justify-content: space-between;
  background-color: #000;
  border-radius: 15px;
  margin-bottom: 2%;
}

.card-dec {
  width: calc(100%-375px);
  padding: 3% !important;
}

.section-3-next-h {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  font-family: var(--font-lexend);
  margin-bottom: 3% !important;
}

.card-1-image {
  width: 375px;
  border-radius: 15px 0 0 15px;
  display: block;
  object-fit: cover;
  height: 375px;
}

.card-dec-p1 {
  font-size: 16px;
  font-weight: 400;
  text-align: end;
  font-family: var(--font-lexend);
  color: #ffffff;
  margin-bottom: 10px;
}

.card-dec-h {
  font-size: 40px;
  font-family: var(--font-lexend);
  font-weight: 600;
  color: #ffffff;
  margin-left: 4%;
  text-align: left;
}

.card-dec-p2 {
  font-size: 16px;
  font-weight: 400;
  text-align: end;
  font-family: var(--font-lexend);
  color: #ffffff;
  line-height: 26px;
  margin-left: 4%;
  margin-top: 5%;
  text-align: left;
  width: 70%;
}

.card-dec a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-lexend);
  color: #000;
  margin-left: 4%;
  margin-top: 5%;
  background-color: #ffffff;
  width: 139px;
  height: 47px;
  border-radius: 4px;
}

.card-dec a:hover {
  background-color: aqua;
}

.our-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fe6700;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-lexend);
  width: 182px;
  height: 47px;
  border-radius: 4px;
  margin-bottom: 10%;
  font-size: 16px;
}

.our-link:hover {
  background-color: black;
}

.animated-image-1 {
  width: 100%;
  height: 445px;
  position: relative;
  overflow: hidden;
  margin-bottom: 3% !important;
}

.image-container-1-1,
.image-container-2-1,
.image-container-3-1 {
  position: absolute;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #bbbbbb;
  width: 515px;
  height: 441px;
  transition: transform 0.7s ease;
}

.image-container-1-1 {
  top: 0%;
  left: 0%;
  z-index: 1;
}

.image-container-2-1 {
  left: 25%;
  top: 0%;
  z-index: 2;
}

.image-container-3-1 {
  right: 0%;
  top: 0%;
  z-index: 3;
 
}

.image-container-2-1:hover {

  z-index: 4;
}

.image-container-2-1:hover ~ .image-container-3-1 {
  transform: translateX(100px);
}

.image-container-2-1:hover ~ .image-container-1-1 {
  transform: translateX(-100px);
}


.image-container-1-1:hover {

  z-index: 4;
}

.image-container-1-1:hover ~ .image-container-2-1 {
  transform: translateX(100px);
}

.image-container-1-1:hover ~ .image-container-3-1 {
  transform: translateX(100px);
}


.image-container-3-1:hover {
  z-index: 4;
}

.image-container-3-1:hover ~ .image-container-1-1 {
  transform: translateX(-100px);
}

.image-container-3-1:hover ~ .image-container-2-1 {
  transform: translateX(-100px);
}

.animated-img-1-1,
.animated-img-2-1,
.animated-img-3-1 {
  width: 100%;
  height: 441px;
  object-fit: cover;
  transition: all 0.9s ease;
}

.content-overlay {
  position: absolute;
  bottom: -165px;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
  transition: all 700ms ease-in-out;
}

.content-overlayX {
  position: absolute;
  inset: 0;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 5;
}
.service-sub {
  z-index: 6;
}
.service-sub a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-lexend);
  color: #000;
  background-color: #ffffff;
  width: 139px;
  height: 47px;
  border-radius: 4px;
  z-index: 6;
}

.service-sub a:hover {
  background-color: aqua;
}

.service-sub p {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-lexend);
  width: 70%;
  margin-top: 6%;
  margin-bottom: 3%;
  color: white;
}

.service-number {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  font-family: var(--font-lexend);
  z-index: 5;
}

.service-title {
  color: #000000;
  font-size: 25px;
  font-family: var(--font-lexend);
  font-weight: 600;
  margin: 0;
  z-index: 5;
}

.image-container-3-1:hover .service-sub {
  display: block;
}
.image-container-3-1:hover .service-title {
  color: white;
}

.image-container-3-1:hover .service-number {
  color: white;
}

.image-container-3-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9) !important;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.image-container-3-1:hover::after {
  background-color: rgba(57, 128, 3, 0.9) !important;
}

.image-container-3-1:hover .content-overlay {
  bottom: 0px;
}

.image-container-2-1:hover .service-sub {
  display: block;
}
.image-container-2-1:hover .service-title {
  color: white;
}

.image-container-2-1:hover .service-number {
  color: white;
}

.image-container-2-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9) !important;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.image-container-2-1:hover::after {
  background-color: rgba(57, 128, 3, 0.9) !important;
}

.image-container-2-1:hover .content-overlay {
  bottom: 0px;
}

.image-container-1-1:hover .service-sub {
  display: block;
}
.image-container-1-1:hover .service-title {
  color: white;
}

.image-container-1-1:hover .service-number {
  color: white;
}

.image-container-1-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9) !important;
  transition: background-color 0.3s ease;
  z-index: 1;
  
}

.image-container-1-1:hover::after {
  background-color: rgba(57, 128, 3, 0.9) !important;
}

.image-container-1-1:hover .content-overlay {
  bottom: 0px;
}


/* Latest updates */

.container-7 {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 0;
}

.container-7h {
  font-size: 40px;
  font-weight: 600;
  font-family: var(--font-lexend);
  margin-top: 9%;
  text-align: center;
  margin-bottom: 4%;
}

.div-updates {
  display: flex;
  margin-bottom: 10% !important;
  justify-content: space-between;
  gap: 30px;
}

.update-dec {
  position: absolute;
  bottom: 6%;
  left: 1.5%;
  backdrop-filter: blur(20px);
  background-color: #355260;
  padding: 3%;
  border-radius: 10px;
  width: 660px;
  box-sizing: border-box !important;
}

.update-dec a {
  width: 92px;
  height: 25px;
  font-size: 12px;
  font-weight: 300;
  font-family: var(--font-lexend);
  text-decoration: none;
  border: 1px solid white;
  border-radius: 30px;
  color: #f6f6f6;
  padding: 5px 10px;
}
.update-dec a:hover {
  background-color: #ffffff;
  color: black;
}

.update-decX a:hover {
  background-color: #000;
  color: #ffffff;
}

.update-dec h3 {
  font-size: 26px;
  font-weight: 500;
  font-family: var(--font-lexend);
  color: #ffffff;
  margin-bottom: 2% !important;
  margin-top: 2% !important;
}

.update-dec span {
  font-size: 16px;
  font-weight: 300;
  font-family: var(--font-lexend);
  color: #ffffff;
  margin-bottom: 2% !important;
}

.update-small-cards {
  /* width: calc(100%-680px); */
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

.update-decX {
  padding: 3%;
  width: 660px;
  box-sizing: border-box !important;
}

.update-decX a {
  width: 92px;
  height: 25px;
  font-size: 12px;
  font-weight: 300;
  font-family: var(--font-lexend);
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 30px;
  color: #000000;
  padding: 5px 10px;
}

.update-decX h3 {
  font-size: 26px;
  font-weight: 500;
  font-family: var(--font-lexend);
  color: #000000;
  margin-bottom: 2% !important;
  margin-top: 2% !important;
  width: 50%;
}

.update-decX span {
  font-size: 16px;
  font-weight: 300;
  font-family: var(--font-lexend);
  color: #000000;
  margin-bottom: 2% !important;
}

.update-small-cards-X {
  display: flex;
  justify-content: space-between;
}

.update-icon {
  position: absolute;
  top: 4%;
  left: 88%;
  background-color: transparent;
  padding: 3%;
  border-radius: 50%;
  color: transparent;
  font-size: 20px;
  transform: translateX(70px) rotate(-45deg);
  transition: 500ms ease;
}

.update-big-card:hover .update-icon {
  transform: translateX(0px) rotate(-45deg);
  background-color: white;
  color: #000;
}

.update-big-card {
  position: relative;
}
.zoom-effect-container-updated-1 {
  position: relative;
  width: 680px;
  height: 585px;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}

.zoom-effect-container-updated-1:hover .image-update-card-1 img {
  transform: scale(1.08);
}

.image-update-card-1 {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
}

.big-card-image {
  transition: 0.8s ease;
  width: 680px;
  height: 585px;
  object-fit: cover;
}

.zoom-effect-container-updated-2 {
  position: relative;
  width: 175px;
  height: 175px;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
}

.zoom-effect-container-updated-2:hover .image-update-card-2 img {
  transform: scale(1.09);
}

.image-update-card-2 {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
}

.sub-image {
  width: 175px;
  height: 175px;
  transition: 0.8s ease;
  object-fit: cover;
}








