:root {
  --mainColor: white;
  --orangecolor: orange;
}

.font-latef {
  font-family: var(--font-lexend);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  max-width: 1540px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.8% 2.1%;
  margin-top: 2%;
  backdrop-filter: blur(20px);
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.navbarX{
  max-width: 1540px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.8% 2.1%;
  margin-top: 2%;
  background-color: white;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);

}

.container-1 {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 182px;
  height: 66.51px;
}

.drop {
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  border: none;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  list-style-type: none;
  font-family: var(--font-lexend);
}

.nav-links {
  display: flex;
  justify-content: end;
  gap: 4%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  width: calc(100% - 167px);
  align-items: center;
}

.nav-t {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  font-family: var(--font-lexend);
  list-style-type: none;
}

.nav-t:hover {
  color: var(--orangecolor);
}

.nav-X {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  font-family: var(--font-lexend);
  list-style-type: none;
 
}

.nav-X:hover {
  color: var(--orangecolor);
}
.right-section {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 6%;
  width: calc(100% - 200px);
}

.left-section {
  width: 200px;
}

.nav-btn {
  text-decoration: none;
  background-color: #fe6700;
  color: var(--mainColor);
  width: 167px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-lexend);
  border-radius: 4px;
}
.nav-btn:hover {
  background-color:white;
  color: #000000;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-lexend);
  color: #000000;
  
}
.dropdown:hover {
  color: var(--orangecolor);
}
.dropdown .nav-t {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drop-icon {
  font-size: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--mainColor);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
